<link rel="stylesheet" href="/css/login.css" />
<div class="login-page">
  <% if (locals.message) { %>
  <p><%= message %></p>
  <%} %>
  <div class="form">
    <form class="login-form" method="POST" action="/users/create-session">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">login</button>
      <p class="message">
        Not registered? <a href="/users/sign-up">Create an account</a>
      </p>
    </form>
  </div>
</div>
