<link rel="stylesheet" href="/css/signup.css" />
<div class="login-page">
  <div class="form">
    <form class="register-form" action="/users/create" method="POST">
      <input type="text" name="name" placeholder="Your Name" required />
      <input type="email" name="email" placeholder="Your Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <button type="submit">create</button>
      <p class="message">
        Already registered? <a href="/users/sign-in">Sign In</a>
      </p>
    </form>
  </div>
</div>
