<link rel="stylesheet" href="/css/signup.css" />
<div class="wrapper">
  <div class="form-wrapper">
    <div class="top-bar">
      <h2>Sign up Form</h2>
    </div>
    <div class="signup-form-container">
      <form action="" method="POST" class="signup-form">
        <div class="input-container">
          <input type="text" placeholder="Enter username" name="username" />
        </div>
        <div class="input-container">
          <input type="email" placeholder="Enter Email Id" name="email" />
        </div>
        <div class="input-container">
          <input type="password" placeholder="Enter password" name="password" />
        </div>
        <button type="submit">submit</button>
      </form>
    </div>
  </div>
</div>
