footer {
  background-color: grey;
  color: white;
  min-height: 2rem;
  padding: 1rem;
}

footer #footer-container {
  display: flex;
  font-size: 1.2rem;
}

footer #footer-container #links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
